<div class="d-flex" id="wrapper" [class.toggled]="sidebar" >

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <!-- Topbar -->
    <app-topbar (showSidebar)="showMenu($event)"></app-topbar>
    <!-- /#topbar-wrapper -->

    <!-- Embeded Content -->
    <div class="container-fluid">
     <router-outlet></router-outlet>
    </div>
    <!-- /#embeded-content-wrapper -->

  </div>
  <!-- /#page-content-wrapper -->

</div>
