/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

body {
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
}

h5 {
  margin-top: 0 !important;
  font-weight: bold !important;
}

td.week, .weeks thead tr th:nth-child(1) {
  display: none !important;
}

.bs-datepicker-head {
  background-color: #007BFF !important;
}

input.upload-button {
  display: none !important;
}

.form-control.authorized {
  font-size: 1.5rem !important;
}

td div span {
  padding-top: 5px !important;
}

.dropdown-menu {
  min-width: 5rem !important;
  padding: .5rem !important;
}

p.card-text span.badge {
  margin-left: -4px !important;
}

table td, table th {
  vertical-align:middle !important;
}

.modal-header .close {
  font-size: 2rem;
  color: #c82333;
  opacity: 1;
}

/* Sidebar navigation */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  border-right: 1px solid #007BFF;
  background:#fff !important
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 0.25rem;
  font-size: 1.2rem;
  max-height:80px;
  min-height:80px;
  border-right: 1px solid #FFF;
  text-align: center;
}
#sidebar-wrapper .sidebar-heading img {
  max-height: 60px;
  margin:0 auto;
}
#sidebar-wrapper .list-group {
  max-width: 15rem;
}
#sidebar-wrapper .list-group a, li {
  border:0;
  color: #232323;
  background-color: transparent;
}
#sidebar-wrapper .list-group a.active {
  background-color:#f5f5f5 !important;
}
#sidebar-wrapper .list-group a:hover {
  background-color:#f5f5f5 !important;
}
#sidebar-wrapper .list-group-item {
  border:0;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  min-height:100%;
  margin-left: 0;;
}

@media (max-width: 768px) {
  /* navbar hacks for small screens */
  .change {
    display:none;
  }
  .change.toggled {
  display:inline-block;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  fa-icon.toggled {
  display:none;
}
}
/*#end-sidebar */

/* Topbar navigation */
.navbar {
  max-height:80px;
  min-height:80px;
}

.btn-link {
  border:0;
  color:white;
  font-weight:600;
}

.btn-link:hover {
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none;
}
/*#end-topbar */

/* Footer */
#sidebar-wrapper footer {
  margin-top:100%;
  bottom: 0;
  width: 100%;
  height: 40px;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}
/* end footer */


/* Loader */
#preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #007BFF;
}

@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
/* end loader */

/* Login form */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .alert-light {
  color:#a94442; /* red */
  padding: 0 !important;
  margin:5px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.ng-valid[required], .ng-valid.required, label.ng-valid  {
  border: 1px solid #42A948 !important; /* green */
  border-left: 5px solid #42A948 !important;
}

.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
  border-left: 5px solid #a94442;
}
/*#end-login-form */