<div class="card mt-3 border-0">
  <div *ngIf="users$ | async as response; else loadingError">
    <div *ngIf="response.success; else paramError">
      <div class="card">
        <div class="card-header bg-light" [ngClass]="{'text-danger': response.user.isActive == false}">
          <h3>{{ response.user.name }} - ({{ response.user.role }})</h3>
        </div>
        <div class="card-body">

          <h5 class="card-subtitle mb-2 text-muted">email: {{ response.user.email }}</h5>
          <p class="card-text">
            <small>
              Usuário cadastrado em {{ response.user.createdAt | date: 'dd/MM/yyyy' }}.
            </small>
          </p>
          <a [routerLink]="[ '/users']" class="card-link">Voltar</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

  <ng-template #loadingError>
    <div *ngIf="error$ | async; else loading" class="card mt-3 border-0">
      <app-param-error [message]="defaultMessage" type="warning"></app-param-error>
    </div>
  </ng-template>
</div>