<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            <img
            src="/assets/img/bomjesusrn.png"
            alt="Prefeitura de Bom Jesus"
            title="Prefeitura de Bom Jesus"
            style="width:150px !important;"/>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer style="text-align:center; border-top: 1px solid #007BFF; padding: 10px;">
          <ion-label>
            <small>Onixx Gestor v.2.0.0</small>
          </ion-label>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
