<div class="border-right border-primary" id="sidebar-wrapper">
  <div class="sidebar-heading bg-primary shadow">
    <a routerLink="/expenses">
      <img src="/assets/img/bomjesusrn.png" alt="Prefeitura de Bom Jesus/RN" />
    </a>
  </div>
  <div class="list-group">
    <a [routerLink]="['/expenses']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item list-group-item-action">Novas despesas</a>
    <a [routerLink]="['/expenses/authorized']" routerLinkActive="active" class="list-group-item list-group-item-action">Autorizadas</a>
    <a [routerLink]="['/expenses/denied']" routerLinkActive="active" class="list-group-item list-group-item-action">Recusadas</a>
  </div>
  <footer>
    <img src="/assets/img/onixx.png" alt="Onixx Sistemas" class="bottom-0" />
  </footer>
</div>