<div class="d-flex" id="wrapper" [class.toggled]="sidebar">

  <!-- Sidebar -->
  <app-sidebar *ngIf="currentUser"></app-sidebar>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" class="border-left border-primary">

    <!-- Topbar -->
    <app-topbar (showSidebar)="showMenu($event)" *ngIf="currentUser"></app-topbar>
    <!-- /#topbar-wrapper -->

    <!-- Embeded Content -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /#embeded-content-wrapper -->

  </div>
  <!-- /#page-content-wrapper -->
</div>