<div class="card mt-3 border-0 h-100">
  <div class="card-header bg-white border-0">
    <div class="float-left">
      <h4>Recusadas</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="panel row h-100" *ngIf="expenses$ | async as response; else loadingError">
    <div class="table table-hover" *ngIf="response.success; else loading" style="height:100% !important;">
      <ion-content padding style="min-height:100% !important;">
        <div class="card mt-3 border-0" *ngIf="response.expenses.length == 0">
          <div class="card-body">
            <alert type="light">
              <h3>Tudo certo por aqui</h3>
              <hr>
              <p><strong>Nenhuma despesa recusada para exibir.</strong></p>
            </alert>
          </div>
        </div>
        <ion-list>
          <ion-item *ngFor="let expense of response.expenses" [routerLink]="[ '/expenses', expense.id ]" lines="none" detail="false">
            <ion-label>
              <div class="card">
                <h5 class="card-header alert-danger">{{ expense.id }} - {{ expense.Provider.name }}</h5>
                <div class="card-body">
                  <span class="card-title">{{ expense.requested_value | currency:'BRL':'R$ ' }}</span>
                  <p class="card-text">Vencimento: {{ expense.due_date | date: 'dd/MM/yyyy' }}</p>
                </div>
              </div>
              <br />
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </div>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
  
  <ng-template #loadingError>
    <div *ngIf="error$ | async; else loading" class="card mt-3 border-0">
      <app-server-error></app-server-error>
    </div>
  </ng-template>
</div>