<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Despesa #{{expense.id}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ expense.Category.description }}</ion-card-subtitle>
      <h5 style="font-weight: bold">{{ expense.Provider.socialName }}</h5>
    </ion-card-header>
    <ion-card-content>
      <p>{{ expense.description }}<br/>
        Vencimento: <strong>{{ expense.dueDate | date: 'dd/MM/yyyy' }}</strong><br/>
        <small>
          Solicitado em {{ expense.createdAt | date: 'dd/MM/yyyy' }}
          <span class="d-none d-lg-inline">
            por {{ expense.User.name }}
          </span>
        </small>
      </p>
        <form [formGroup]="authorizationForm">
          <ion-item class="border-0">
            <ion-input
              type="number" 
              formControlName="authorizationValue" 
              [(ngModel)]="authorizationValue" 
              mask="dot_separator.2"
              prefix="R$ "
              class="border border-primary rounded px-2"
              style="font-size:1.2em;"
            clearInput ></ion-input>
          </ion-item>
          </form>
          <div class="mt-3 mb-3" style="text-align:center;">
            <button type="button" class="btn btn-danger" (click)="cancel()">
              RECUSAR
            </button>
            <button type="button" class="btn btn-success" (click)="authorize()">
              AUTORIZAR
            </button>
          </div>
    </ion-card-content>
  </ion-card>

</ion-content>
