<div id="sidebar-wrapper" class="sticky-top">
    <div class="sidebar-heading bg-primary shadow">
        <a routerLink="">
            <img src="/assets/img/bomjesusrn.png" alt="Prefeitura de Bom Jesus/RN"/>
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a routerLink="" type="buton" class="list-group-item list-group-item-action"><fa-icon [icon]="faThLarge"></fa-icon> Iniciar</a>
        <a routerLink="" type="buton" class="list-group-item list-group-item-action"><fa-icon [icon]="faUser"></fa-icon> Usuários</a>
        <a routerLink="" type="buton" class="list-group-item list-group-item-action"><fa-icon [icon]="faTruck"></fa-icon> Fornecedores</a>
        <a routerLink="" type="buton" class="list-group-item list-group-item-action"><fa-icon [icon]="faSitemap"></fa-icon> Categorias</a>
        <a routerLink="expenses" class="list-group-item list-group-item-action" type="buton"><fa-icon [icon]="faWallet"></fa-icon> Despesas</a>
    </div>
    <!-- Footer comes here -->
<app-footer></app-footer>
<!-- end of footer -->
</div>
