<ng-template #loading>
  <div id="preloader" [style.display]="splash ? 'flex': 'none'">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</ng-template>

<div class="card mt-3 border-0 h-100">
  <div class="card-header bg-white border-0">
    <div class="float-left">
      <h4>Novas</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="panel row h-100" *ngIf="expenses$ | async as response; else loadingError">
    <div class="table table-hover" *ngIf="response.success; else loading" style="height:100% !important;">
      <ion-content padding style="min-height:100% !important;">
        <ion-list>
          <ion-item *ngFor="let expense of response.expenses" [routerLink]="[ '/expenses', expense.id ]" lines="none">
            <ion-label>
              <div class="card">
                <h5 class="card-header alert-secondary">{{ expense.id }} - {{ expense.Provider.name }}</h5>
                <div class="card-body">
                  <span class="card-title">{{ expense.requested_value | currency:'BRL':'R$ ' }}</span>
                  <p class="card-text">Vencimento: {{ expense.due_date | date: 'dd/MM/yyyy' }}</p>
                </div>
              </div>
              <br />
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </div>
  </div>
  <ng-template #loadingError>
    <div *ngIf="error$ | async; else loading" class="card mt-3 border-0">
      <div class="card-body">
        <alert type="danger">
          <h3>OMG!!!!</h3>
          <hr>
          <p><span>Servidor não responde.</span></p>
        </alert>
      </div>
    </div>
  </ng-template>
</div>