<div *ngIf="user$ | async as response; else loadingError">
  <div *ngIf="response.success; else paramError">
    <span>Nome: {{ response.user.name }}</span>
  </div>

  <ng-template #paramError>
    <div class="card mt-3 border-0">
      <div class="card-body">
        <alert type="warning">
          <h3>Ops!</h3>
          <hr>
          <p><strong>Todo mundo erra...</strong> <span>{{response.message}}</span></p>
        </alert>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #loadingError>
  <div *ngIf="error$ | async; else paramError" class="card mt-3 border-0">
    <div class="card-body">
      <alert type="danger">
        <h3>OMG!!!!</h3>
        <hr>
        <p><span>Servidor não responde.</span></p>
      </alert>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <alert type="danger">
    <h3>Aguarde,</h3>
    <hr>
    <p><span>Carregando usuários...</span></p>
    </alert>
</ng-template>
